.turbo
**/.turbo
.vercel
.wrangler
**/.wrangler
node_modules
.pnpm-store
dist
**/dist
.next
**/.next
*.tsbuildinfo
.env
.env.*
!.env.example
!**/.env.example
!**/.env.*.example
apps/worker/.dev.vars
supabase/.temp
